# Backslash

In [2]:
print("Hello \
  Ayush")

Hello   Ayush

# Triple quotes

We can use triple quotes in three ways:
    
    - If you want to print a text art.
    - In the form of Docstring..
        For ex - """
                 Hi Welcome in Python
                 """
    - For escape characters

In [3]:
"""  (\n(.....)) \n(,,,,)
"""

'  (\n(.....)) \n(,,,,)\n'

# String inside the quotes

In [6]:
print("Python's Army")   
 # OR
print('Python\'s Army')

Python's Army
Python's Army

# Escape sequencing of String

In [8]:
print("Welcome in \tPython")
print("Welcome in \nPython")

Welcome in 	Python
Welcome in
Python

# Formatted output

In [12]:
name ="Ayush"
marks =87.675
age = 22
print("The name of person is %4s marks is %.2f age is %10d"%(name,marks,age))

The name of person is Ayush marks is 87.67 age is         22

In [13]:
#Another way to print 

print(f"The name of person is {name} marks is {marks} age is {age}")

The name of person is Ayush marks is 87.675 age is 22

# Operators

- Comparison operator
- Arithmetic operator
- Bitwise operator
- Logical operator

In [23]:
#Example 1
a = 10
b = 10
a == b

True

In [24]:
id(a)

140735410447024

In [25]:
id(b)

140735410447024

In [26]:
a is b

True

In [38]:
#Example 2
x = 260
y = 260
x == y

True

In [39]:
id(x)

2243154113968

In [40]:
id(y)

2243154113840

In [41]:
x is y

False

In [42]:

10/20*4

2.0

# Important Points related to operator precedence

- Operators in the same box having thre same precedence.
- Operators in the same box group left to right
- Exponentiation which groups from right to left

In [43]:
2**-1

0.5

In [51]:
10>8>9

False